# Dependencies
node_modules/
bun.lockb

# Build output
dist/

# Environment variables
.env
.env.local

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db